.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
CONTRIBUTING.md text eol=lf
README.md text eol=lf

.github/** text eol=lf
docs/** text eol=lf
scripts/** text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.dta binary
*.docx binary
*.mo binary
*.pdf binary
*.rda binary
*.tar.gz binary
*.whl binary
